rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/{fileName} {
      allow read, write: if request.auth.uid == userId || request.token.admin == true;
    }

    // file is less than 5MB
    // content type is an image
    match /{imagId} {
      allow write: of request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*')
    }
  }
}